::-webkit-scrollbar {
  width: 10px !important;
  background-color: slategray !important;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190) !important;
  border-radius: 10px !important;
}
::selection {
  background: #8e9aac;
  color: #87e2dc;
  font-weight: bolder;
}